* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    border: 1px solid white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 325px;
}

.screen {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 3em;
    height: 80px;
    border: none;
    background-color: transparent;
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

button {
    height: 60px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: transparent;
    font-size: 2em;
    color: white;
}

button:hover {
    background-color: gray;
}

button:active {
    background-color: gainsboro;
}

.all-clear:hover {
    background-color: burlywood;
}

.equal-sign {
    height: 100%;
    grid-area: 2 / 4/ 6 /5;
}

.equal-sign:hover {
    background-color: aquamarine;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}